<h1>Paychecks</h1>
<%= link_to 'New Paycheck', new_paycheck_path %>
<table id=expenses>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th colspan="3"></th>
  </tr>

  <%
    i=0
    table_row_style = ""
    @paychecks.each do |paycheck| 
      i += 1
      if i%2 == 0
              table_row_style = "class=alt"
      else
              table_row_style = ""
      end 
  %>
    <tr <%=table_row_style%> >
      <td><%= paycheck.name %></td>
      <td><div id=currency_symbol>$</div><div id=currency_amount><%= humanized_money paycheck.amount %></div></td>
      <td><%= link_to 'Add Deductions', paycheck_path(paycheck) %></td>
      <td><%= link_to 'Edit', edit_paycheck_path(paycheck) %></td>
      <td><%= link_to 'Delete', paycheck_path(paycheck),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
