<div id=paycheck_header><%= @paycheck.name %>: Gross Pay 
<%= humanized_money_with_symbol @paycheck.amount %>
</div>

<div id=deduction_table>
    <div id=deduction_heading>
        <div id=deduction_cell>
            Deduction Name
        </div>
        <div id=deduction_cell>
            Amount
        </div>
        <div id=deduction_cell>
            Pre Tax?
        </div>
        <div id=deduction_cell></div>
    </div>
    <%= render @paycheck.paycheck_deductions %>
</div>
    <%= render 'paycheck_deductions/form' %>
<br>
<br>
<%= link_to 'Back', budget_paychecks_path(@budget) %>
