<%= form_for @paycheck_deduction do |f| %>
 
  <% if @paycheck_deduction.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@paycheck_deduction.errors.count, "error") %> prohibited
        this paycheck_deduction from being saved:
      </h2>
      <ul>
        <% @paycheck_deduction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :amount %><br>
    <%= f.text_field :amount, data: {autonumeric: true} %> 
  </p>
  <p>
    <%= f.label :is_tax_deductible %><br>
    <%= f.check_box :is_tax_deductible %> 
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>
