<%= form_for ([@paycheck, @paycheck.paycheck_deductions.build]) do |f| %>
 
    <div id=deduction_table>
        <div id=deduction_heading>
            <div id=deduction_cell>
                <%= f.label :name %>
            </div>
            <div id=deduction_cell>
                <%= f.label :amount %>
            </div>
            <div id=deduction_cell>
                <%= f.label :is_tax_deductible, "Pre Tax?" %>
            </div>
            <div id=deduction_cell></div>

        </div>
        <div id=deduction_row>
            <div id=deduction_cell>
                <%= f.text_field :name %>
            </div>
            <div id=deduction_cell>
                <%= f.text_field :amount, data: {autonumeric: true} %> 
            </div>
            <div id=deduction_cell>
                <%= f.check_box :is_tax_deductible %> 
            </div>
            <div id=deduction_cell>
                <%= f.submit %>
            </div>
        </div>
    </div>
 
<% end %>
