<h1>Budgeting and Finance Application</h1>

<h3><%= link_to 'Fixed Monthly Expenses', controller: 'fixed_monthly_expenses' %></h3>
<br>
<div><h3>Step 1: Initial Emergency Fund<h6><%= link_to 'Edit', edit_step_one_path(@step_one) %></h6></div>
<h5>Your Goal: $ <%= humanized_money @step_one.goal_balance %> </h5>
<h5>Current Balance: $ <%= humanized_money @step_one.current_balance %></h5>
<div><h3>Step 2: Payoff All Debt Excluding Mortgage<h6><%= link_to 'Edit', controller: 'debts' %></h6></div>
