<%= form_for [@budget, @fixed_monthly_expense] do |f| %>
 
  <% if @fixed_monthly_expense.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@fixed_monthly_expense.errors.count, "error") %> prohibited
        this fixed_monthly_expense from being saved:
      </h2>
      <ul>
        <% @fixed_monthly_expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :amount %><br>
    <%= f.text_field :amount, data: {autonumeric: true} %> 
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
