<h1>Listing expenses</h1>
<%= link_to 'New Fixed Monthly Expense', new_fixed_monthly_expense_path %>
<table>
  <tr>
    <th>Expense</th>
    <th>Amount</th>
  </tr>

  <% @fixed_monthly_expenses.each do |fixed_monthly_expense| %>
    <tr>
      <td><%= fixed_monthly_expense.expense %></td>
      <td><%= humanized_money_with_symbol fixed_monthly_expense.amount %></td>
      <td><%= link_to 'Show', fixed_monthly_expense_path(fixed_monthly_expense) %></td>
      <td><%= link_to 'Edit', edit_fixed_monthly_expense_path(fixed_monthly_expense) %></td>
      <td><%= link_to 'Destroy', fixed_monthly_expense_path(fixed_monthly_expense),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
