<h1>Expenses</h1>
<%= link_to 'New Fixed Monthly Expense', new_fixed_monthly_expense_path %>
<table id=expenses>
  <tr>
    <th>Expense</th>
    <th>Amount</th>
    <th colspan="2"></th>
  </tr>

  <%
    i=0
    table_row_style = ""
    @fixed_monthly_expenses.each do |fixed_monthly_expense| 
      i += 1
      if i%2 == 0
              table_row_style = "class=alt"
      else
              table_row_style = ""
      end 
  %>
    <tr <%=table_row_style%> >
      <td><%= fixed_monthly_expense.expense %></td>
      <td><div id=currency_symbol>$</div><div id=currency_amount><%= humanized_money fixed_monthly_expense.amount %></div></td>
      <td><%= link_to 'Edit', edit_fixed_monthly_expense_path(fixed_monthly_expense) %></td>
          <td><%= link_to 'Destroy', fixed_monthly_expense_path(fixed_monthly_expense),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>

